.pl{
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
}

.pl-text{
  width: 65%;
}

.pl-title{
font-size: 50px;
font-weight: 600;
/* margin-bottom: 50px; */
}

.pl-desc{
  margin: 20px 0px;
}

.pl-list{
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem; */
}

.pj-title{
  font-weight: bold;
  font-size:xx-large;
  margin-top: 30px;
}

.pj-desc{
  margin: 10px auto 10px;
}

.pj-image{
  /* text-align: center; */
  /* display: block; */
  /* margin: 0 auto; */
}

.pl-wrapper{
  text-align: center;
}

.pj-github{
  height: 50px;
  opacity: 0.8;
}

.pj-github:hover{
  opacity: 1;
}

@media screen and (max-width: 480px){
  .pl{
    padding: 10px;
    height: auto;
  }

  .pl-title{
    font-size: 35px;
    margin-top: 50px;
  }

  .pl-text{
    width: 65%;
  }

  .pl-desc{
    display: none;
  }

  .pj-title{
  font-size:large;
  }
}
