.a{
  height: 100vh;
  display: flex;
  align-items: center;
}

.a-left{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right{
  flex: 1;
  /* margin-right: 50px; */
  padding: 30px;
}

/* .a-card.bg{
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #333;
} */

.a-card{
  width: 60%;
  /* height: 70vh; */
  position: relative;
  margin: 5%;
  padding: 5%;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  /* left: 50px; */
  /* overflow: hidden; */
}

.a-img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.a-title{
  font-weight: bold;
  font-size: 50px;
}

.a-desc{
  font-size: 18px;
  margin: 10px auto 10px;
  line-height: 1.5;
}

.techstack{
  /* display: flex;
  flex-wrap: wrap; */
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 20px;
}

.techstack-title{
  font-size: 30px;
  margin: 30px auto 20px;
}

.tech-icons{
  height: 80px;
  width: 80px;
  display: inline-block;
}

@media screen and (max-width: 801px){
  .a{
    flex-direction: column;
    text-align: center;
    /* margin-top: 50px; */
    height: auto;
  }

  .a-card{
    margin: auto;
  }

  .a-img{
    /* height: max-content; */
  }

  .techstack{
    display: flex;
    /* grid-template-columns: none; */
    flex-wrap: wrap;
    justify-content: center;
  }
}


@media screen and (max-width: 480px){
  .a{
    flex-direction: column;
    text-align: center;
    /* margin-top: 50px; */
    height: auto;
  }

  .a-left{
    width: 100%;
  }

  .a-card{
    /* height: 30vh; */
    position: relative;
    /* margin-bottom: 20%; */
  }

  .a-desc{
    font-size: 15px;
  }

  .a-right{
    padding: 20px;
  }

  /* .a-title{
    margin-top: 100px;
  } */
}

p a{
  color: inherit;
}
